.footer {
    background-color: $blackColor;
    width: 100%;
    min-height: 360px;
    padding: 48px 0 0px;

    &__list {

        list-style: none;

    }

    &__item {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-family: 'Nova';
        margin-bottom: 6px;

       
    }

    &__sub-list {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-family: 'Nova';
        margin-bottom: 6px;

        &:hover {
            color: #fff;
        }
    }
}