$textColor : #454851;
$min_width: 320px;
$max_width: 1920px;
$min_font: 16px;
$max_font: 24px;
$garyColor: #CCCCCC;
$garyBoldColor : #999999;
$blackColor:#171D1C;




:root {

  --bs-danger-rgb: 243, 17, 49 !important;

}